
/* 1. color ----- */
$primary: #A3007D;
$secondary: #666;

$text-main:#555;
$text-side:#989898;

// status
$mark: #9abec6;
$default: #ececec;
$dark: #222;
// 
$white: #fff;

/* 2. */
$fontSize-sm: 1rem;
$fontSize-m: 1rem * 1.2;
$fontSize-l: 1rem * 1.3;

$spacer-1: 0.5rem;
$spacer-2: 1rem;

$grid-columns: 12;